/* Reset/Normalize */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Smooth Scrolling*/ 
html {
    scroll-behavior: smooth;
  }

/* Navigation Bar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #626F47; 
    color: #D4E7C5;
    font-family: "Georgia", serif;
    padding: 15px 20px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    height: 70px; 
}

.logo {
    font-family: "Lucida Handwriting", cursive;
    font-size: clamp(1.5rem, 2.5vw, 2rem);
    font-weight: bold;
}

/* Navigation Links */
.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links li {
    display: inline;
}

.nav-links a {
    color: #D4E7C5;
    text-decoration: none;
    font-size: 1.1rem;
    padding: 10px 15px;
    transition: color 0.3s ease-in-out;
}

.nav-links a:hover {
    color: #99BC85;
}

/* Floating Register Button */
.register-btn {
    position: fixed;
    right: 20px;  
    bottom: 20px; 
    background: rgba(164, 180, 101, 1.0);
    padding: 12px 20px;
    color: #394705; 
    border-radius: 50px; 
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
    border: 2.5px solid #2f3b07;
    cursor: pointer;
    transition: background 0.3s, transform 0.2s;
    box-shadow: 0 0 10px rgba(47, 58, 2, 0.5);
    animation: pulse 1.5s infinite;
    z-index: 1000; 
}

/* Hover Effect */
.register-btn:hover {
    background: #8F9F55;
    transform: scale(1.1);
    box-shadow: 0 0 15px rgba(47, 58, 2, 0.8);
}

/* Floating Effect */
@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
}

/* Hamburger Menu Button */
.menu-toggle {
    display: none;
    font-size: 2rem;
    cursor: pointer;
    color: #2f3b07;
    padding: 10px;
}

/* Mobile Styles */
@media (max-width: 768px) {
    body {
        padding-top: 80px; 
    }
    .menu-toggle {
        display: block; 
    }
    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background: rgba(39, 46, 13, 0.6); 
        text-align: center;
        padding: 20px 0;
    }
    .nav-links li {
        padding: 10px 0;
    }
    #menu-toggle:checked ~ .nav-links {
        display: flex;
    }
}

/* Hero Section */
.hero {
    position: relative;
    width: 100%;
    height: 100vh; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

body, .hero {
    margin: 0;
    padding: 0;
}

.hero-video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100vh;
    object-fit: cover; 
    transform: translate(-50%, -50%);
    z-index: -1;
}

.hero-content {
    max-width: 800px;
    padding: 20px;
    background: rgba(164, 180, 101, 0.8); 
    border-radius: 10px;
    width: 90%; 
    max-width: 800px; 
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3); 
    border: 2px solid #102401; 
    color: white;
    margin-top: 100px;
    text-align: center;
}

.hero h1 {
    font-size: 2.8rem;
    font-family: "Garamond", serif;
    margin-bottom: 15px;
}

.hero .quote {
    font-size: 1.5rem;
    font-style: italic;
    font-family: "Gabriola", serif;
    margin-bottom: 20px;
    line-height: 1.5;
}

.event {
    font-size: 1.8em; font-weight: bold;
    color: #D4E7C5;
    text-align: center;
    width: 90%; 
    max-width: 800px; 
}

/* Responsive Design */
@media (max-width: 768px) {
    .hero h1 {
        font-size: 2rem;
    }

    .hero .quote {
        font-size: 1rem;
    }

    .hero .event-date {
        font-size: 1rem;
    }
}
/* About Section */
.about {
    background: url('assets/nature.gif') no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    flex: 1 0 auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    align-items: center;
    gap: 20px;
    padding: 100px 50px 100px 50px; 
}

.about-heading {
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    color: #1e3f02;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px 30px;
    border-radius: 5px; 
    margin-bottom: 10px;
    border: 2px solid #102401;
}

.about-content {
    max-width: 650px;
    padding: 20px;
    text-align: justify;
    background: rgba(255, 255, 255, 0.9);
    transition: background 0.3s ease-in-out;
    border-radius: 15px; 
    color: #1e3f02;
    border: 2px solid #102401;
}

.about-content:hover {
    background: rgba(164, 180, 101, 1.0);
    transform: scale(1.05);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
    color: #f5f5f5;
}

.about h2 {
    font-size: 2rem;
    font-family: "Garamond", serif;
    margin-bottom: 15px;
}

.about .details {
    font-size: 1.3rem;
    font-family: "Georgia", serif;
    margin-bottom: 20px;
    line-height: 1.5;
    text-align: justify;
}

/*Performers Section*/

.keynote {
    background: url('assets/neko.png') no-repeat center center fixed;
    background-size: cover;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    background-attachment: fixed; 
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 100px 50px;
}

.keynote-content {
    max-width: 100%;
    padding: 20px;
    text-align: center;
    background: rgba(164, 180, 101, 0.9);
    border-radius: 15px;
    color: #27391C;
    border: 2px solid #102401;
}

.keynote h1 {
    font-size: 2.8rem;
    font-family: "Garamond", serif;
    margin-bottom: 15px;
    color: #27391C;
}

/* Performers and Merchants Styling */
.performers-list, .merchants-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

/* Performer Card */
.performer-card {
    background: #E1F0DA;
    border-radius: 15px;
    overflow: hidden;
    width: 300px;
    text-align: justify;
    padding: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    border: 2px solid #27391C;
}

/* Merchant Card */
.merchant-card {
    background: #E1F0DA;
    border-radius: 15px;
    overflow: hidden;
    width: 300px;
    text-align: justify;
    padding: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    border: 2px solid #5C6E3A;
}

.performer-card:hover, .merchant-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.performer-card img, .merchant-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border: 2px solid #27391C;
}

.performer-card h2, .merchant-card h2 {
    font-size: 1.4rem;
    margin: 10px 0;
    font-family: "Georgia", serif;
    color: #333;
}

.performer-card p, .merchant-card p {
    font-size: 1rem;
    padding: 10px;
    color: #666;
    font-family: "Arial", sans-serif;
}

/* Responsive card for smaller screens */
@media (max-width: 768px) {
    .keynote {
        padding: 50px 20px;
    }
    .performers-list, .merchants-list {
        flex-wrap: wrap;
        gap: 15px;
    }
    .performer-card, .merchant-card {
        width: 100%;
        max-width: 350px;
    }
    .keynote h1 {
        font-size: 2rem;
        text-align: center;
    }
}

@media (max-width: 480px) {
    .keynote {
        padding: 30px 10px;
    }
    .performers-list, .merchants-list {
        gap: 10px;
    }
    .performer-card, .merchant-card {
        padding: 5px;
    }
    .keynote h1 {
        font-size: 1.8rem;
    }
}

/*Schedule Section*/

.sched {
    background: url('assets/spirited.gif') no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    flex: 1 0 auto;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    align-items: center;
    gap: 20px;
    padding: 100px 50px 100px 50px; 
}

.sched-heading {
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    color: #1e3f02;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px 30px;
    border-radius: 5px; 
    margin-bottom: 10px;
    border: 2px solid #102401;
}

.sched-content {
    max-width: 800px;
    border: 2px solid #1c3f02;
    padding: 20px;
    text-align: justify;
    background: rgba(255, 255, 255, 0.9);
    transition: background 0.3s ease-in-out;
    border-radius: 15px; 
    color: #1e3f02;
}

.sched-content:hover {
    background: rgba(164, 180, 101, 1.0);
    transform: scale(1.05);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
    color: #f5f5f5;
}

.sched h2 {
    font-size: 2rem;
    font-family: "Garamond", serif;
    margin-bottom: 15px;
}

.sched .details {
    font-size: 1.3rem;
    font-family: "Georgia", serif;
    margin-bottom: 20px;
    line-height: 1.5;
}

/* Venue Section */

.ven{
    background: url('assets/venue.png') no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    flex: 1 0 auto;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    align-items: center;
    gap: 20px;
    padding: 100px 50px 100px 50px; 
}

.venue-heading {
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    color: #1e3f02;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px 30px;
    border-radius: 5px; 
    margin-bottom: 10px;
    border: 2px solid #102401;
}

.ven-content {
    max-width: 800px;
    border: 2px solid #1c3f02;
    padding: 20px;
    text-align: justify;
    background: rgba(255, 255, 255, 0.9);
    transition: background 0.3s ease-in-out;
    border-radius: 15px; 
    color: #1e3f02;
}

.ven-content:hover {
    background: rgba(164, 180, 101, 1.0);
    transform: scale(1.05);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
    color: #f5f5f5;
}

.ven h2 {
    font-size: 2rem;
    font-family: "Garamond", serif;
    margin-bottom: 15px;
}

.ven .details {
    font-size: 1.3rem;
    font-family: "Georgia", serif;
    margin-bottom: 20px;
    line-height: 1.5;
}

.venue-img {
    width: auto; 
    height: 200px; 
    border: 2px solid #1c3f02;;
    border-radius: 12px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.details {
    display: flex;
    justify-content: center; 
    gap: 10px; 
    flex-wrap: wrap; 
}

/* Footer */
.footer {
    background: #626F47;
    color: #88AB8E;
    padding: 20px 0;
    text-align: center;
    width: 100%;
    position: relative; 
    bottom: 0;
    left: 0;
    z-index: 10;
    box-sizing: border-box;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.footer-content p {
    margin: 5px 0;
}

.footer-content a {
    color: #88AB8E; 
    text-decoration: none;
    font-size: 1.2rem;
    display: inline-flex;
    align-items: center;
    gap: 8px; 
    padding: 5px 10px;
}

.footer-content a:hover {
    color: #D4E7C5; 
}

.footer-content i {
    font-size: 1.4rem; 
}
